#app {
  max-width: 1150px;
  margin: 0 auto;
}

body {
  background-color: #20323a;
}
.container-fives {
  background-color: #20323a;
  min-width: 400px;
  padding: 4px 8px;
}
.mymain-div {
  background-color: #ffffff;
  padding: 0px 0px;
}

a {
  color: #1b96b1;
  text-decoration: underline;
}
a:hover {
  color: #026880;
  text-decoration: underline;
}

nav {
  padding: 10px 0 10px 10px;
}

.myheader-img {
  width: 100px;
  vertical-align: baseline;
  margin-bottom: -3px;
}

.my-nav a {
  color: #7fc6dd;
}
.my-nav a.active {
  color: #ffffff;
}
.my-nav a.link {
  color: #7fc6dd;
}
.menu-divider {
  color: #748388;
  padding: 0 6px;
}

.mybody-section {
  padding: 4px 12px 60px 12px;
  margin-top: 20px;
}
.mybody-section.home-body {
  margin-top: 0px;
}
button.btn-mybutton:hover,
.mybody-section a.btn-mybutton:hover {
  color: #dbe3e5;
  background-color: #0a6485;
}

button.btn-mybutton,
a.btn-mybutton {
  margin-top: 20px;
  color: #ffffff;
  background-color: #668a98;
  --bs-btn-color: #fff;
  --bs-btn-bg: #668a98;
  --bs-btn-border-color: #668a98;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #668a98;
  --bs-btn-disabled-border-color: #668a98;
}

.mybodylogo-img {
  width: 128px;
  margin-bottom: 4px;
  margin-right: 6px;
  vertical-align: bottom;
}

.my-head {
  padding-left: 26px;
}
h4.my-subhead {
  font-size: 1.5rem;
  color: #b0d9e7;
  padding: 8px 0 0 0;
  margin-bottom: 0;
  text-align: center;
}

a.mycarousel-link {
  color: #7fc6dd;
}
a.mycarousel-link:hover {
  color: #ffffff;
}
.sr-only {
  display: none;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(87, 103, 108, 0.25);
  padding: 2px 12px;
  margin: 2px 4px;
  display: inline-block;
}

.carousel-indicators .active {
  background-color: #0e5366;
  padding: 2px 12px;
  margin: 2px 4px;
  display: inline-block;
}

.mymain-div .carousel-control-prev,
.mymain-div .carousel-control-next {
  width: 5%;
}
.mymain-div .my-carousel .carousel-img {
  float: right;
  width: 150px;
  padding: 30px 4px 50px 20px;
  display: block !important;
  visibility: hidden;
}
.my-carousel {
  background: linear-gradient(to top, #668a98, #203239);
  margin-bottom: 20px;
}
.my-carousel .carousel-caption {
  right: 6%;
  bottom: 0.4rem;
  left: 6%;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
}

.my-carousel .carousel-caption .h3,
.my-carousel .carousel-caption h3 {
  font-size: calc(1.2rem + 0.6vw);
}

.carousel-indicators {
  margin-bottom: 0.3rem;
}

.home-h3 {
  padding: 10px 4px 0px 0px;
  margin-bottom: 2px;
}
.home-p {
  padding: 0px 0px 4px 0px;
  margin-bottom: 14px;
  font-size: calc(0.85rem + 0.8vw);
}

/* ================================= */

/* ============================================== */
@media (min-width: 576px) {
  .mymain-div .my-carousel .carousel-img {
    width: 180px;
    padding: 20px 14px 50px 20px;
    visibility: visible;
  }
  .my-carousel .carousel-caption {
    right: 35%;
    bottom: 0.4rem;
    left: 6%;
    padding-bottom: 0.8rem;
  }
  .my-carousel .carousel-caption .h3,
  .my-carousel .carousel-caption h3 {
    font-size: calc(1.2rem + 0.6vw);
  }
}

/* ============================================== */
@media (min-width: 768px) {

    body {
    font-size: 1.1rem;
  }
  .mymain-div .my-carousel .carousel-img {
    width: 240px;
    padding: 30px 28px 40px 20px;
    visibility: visible;
  }

  .myheader-img {
    width: 120px;
  }

  .my-carousel .carousel-caption {
    right: 35%;
    bottom: 1.4rem;
    left: 6%;
    /*padding-bottom: 0.8rem;
  */
  }
  .my-carousel .carousel-caption .h3,
  .my-carousel .carousel-caption h3 {
    font-size: calc(1.5rem + 0.6vw);
  }

  .carousel-caption p {
    font-size: calc(0, 9rem + 0.6vw);
  }

  .mybody-section {
    padding: 10px 20px 60px 20px;
  }
}

/* ============================================== */
@media (min-width: 992px) {

  body {
    font-size: 1.2rem;
  }
  .myheader-img {
    width: 140px;
  }
  h4.my-subhead {
    font-size: 1.65rem;
    padding: 8px 0 0 0;
  }
  .mymain-div .my-carousel .carousel-img {
    width: 290px;
    padding: 30px 44px 40px 10px;
    visibility: visible;
  }
  .my-carousel .carousel-caption {
    right: 32%;
    bottom: 2.1rem;
    left: 5%;
    /*padding-bottom: 0.8rem;
  */
  }
  .my-carousel .carousel-caption .h3,
  .my-carousel .carousel-caption h3 {
    font-size: calc(1.9rem + 0.6vw);
  }
  .carousel-caption p {
    font-size: calc(1rem + 0.6vw);
  }
  .mybody-section {
    padding: 24px 36px 60px 36px;
  }
}

/* ============================================== */
@media (min-width: 1200px) {
  h4.my-subhead {
    font-size: 1.8rem;
    padding: 8px 0 0 0;
  }
  .mymain-div .my-carousel .carousel-img {
    width: 360px;
    padding: 30px 32px 50px 2px;
    margin-right: 20px;
  }
  .my-carousel .carousel-caption {
    right: 35%;
    bottom: 2.8rem;
    left: 6%;
    /*padding-bottom: 0.8rem;
  */
  }
}
